* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.news-weather {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0 150px;
}
.weather-container {
  flex-basis: 32.33%;
  min-width: 32.33%;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
}
.weather-search-bar {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
.weather-search-bar .weather-search-input {
  width: 100%;
  padding: 5px 30% 5px 5px;
  outline: none;
  border: 1px solid red;
  border-radius: 7px;
}
.weather-search-bar .weather-search-input {
  font-family: "Poppins", sans-serif;
}
.weather-search-bar .weather-btn {
  padding: 4px;
  margin-right: 4px;
  position: absolute;
  right: 0;
  background-color: red;
  outline: none;
  border: 1px solid red;
  cursor: pointer;
  color: white;
  border-radius: 3px;
}
.weather-details .weather-title {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
.weather-container .weather-description {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
.weather-container .weather-temperature {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.news-container {
  margin-left: 8px;
  margin-right: 8px;
}
.news {
  display: flex;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
  gap: 10px;
  margin-bottom: 20px;
}

.news .news-img img {
  width: 100%;
  width: 150px;
  object-fit: cover;
}
.news-title {
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-published-at {
  font-size: 14px;
  color: red;
}
.news-description {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
